body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #4290b7;
  background-color: #002435;
}

p{
  font-size: larger;
}

.page {
  display: box;
  width: 80%;
    margin: 0 auto;
  position: relative;
}

 img {
  width: 100%;
  height: auto;
  
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 20px;
  background-color: #4290b7;
  color: #002435;
  border: none;
  cursor: pointer;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}

.grid-container {
 
 display: grid;
 grid-template-columns: repeat(4, max-content);
 align-items: center;
 margin: 10px;
 justify-content: space-around;
 padding: 0;
 width: 100vw;
 

  
  
}

.grid-item {
  margin: 10px;
  color:#002435;    /* #00557b;*/
  display: flex;
  flex-direction: column;
  background-color:#4290b7;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  
  /*flex-basis: 50px;*/
  
}

.nomprof {
  font-size: larger;
  font-weight: 800
}
.sala {
  font-weight: 600;
}
.logo{
  width: 300px;
  height: auto;
}

