body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #4290b7;
  background-color: #002435;
}

p{
  font-size: larger;
}

.page {
  display: box;
  width: 80%;
    margin: 0 auto;
  position: relative;
}

 img {
  width: 100%;
  height: auto;
  
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 20px;
  font-weight: bold;
  background-color: #4290b7;
  
  color: #002435;
  border: none;
  cursor: pointer;
}

.back-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
.painelbot{
  display: flex;
  align-content: center;
  flex-direction: column;
  max-width: max-content;
}

.grid-container {
 
 display: grid;
 grid-template-columns:repeat(2 ,minmax(180px, 1fr));   
}

.grid-item {

  margin: 10px;
  color:#002435;    /* #00557b;*/
  display: flex;
  flex-direction: column;
  background-color:#4290b7;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  
}

.nomprof {
  font-size: larger;
  font-weight: 800
}
.sala {
  font-weight: 600;
}
.logo{
  width: 300px;
  height: auto;
}
.disc{
  margin: 10px;
  font-size: large;
}

.discentes{
  font-size:large;
  text-align: center;
}
.pagprof{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tema{
  font-style: italic;
  font-size: large;

}


